$page-width: 800px
$column-width: 240px
$section-padding: 10px
$text-padding: 25px
$background-color: #2a2a2a
$text-border-thickness: 2px
$text-border: $text-border-thickness solid
$title-border: 3px solid
$transition-cubic: cubic-bezier(0.13, 0.65, 0.24, 1.01)
$transition-ease: 0.2s $transition-cubic

=checkered
	$background-color: rgba(#808080, 1)
	$a: 0.3
	$b: 0
	$c: $a
	$d: $b
	$e: 0.5
	background-color: $background-color
	background-size: 16px 16px
	background-image: linear-gradient(to right, rgba(#000000, $a) 50%, transparent 50%, transparent), linear-gradient(to right, transparent 0%, transparent 50%, rgba(#000000, $b) 50%), linear-gradient(to bottom, rgba(#000000, $c) 50%, transparent 50%, transparent), linear-gradient(to bottom, transparent 0%, transparent 50%, rgba(#000000, $d) 50%), linear-gradient(to bottom, $background-color 50%, transparent 50%, transparent), linear-gradient(to right, transparent 0%, transparent 50%, rgba(#000000, $e) 50%), none

=nowrap
	overflow: hidden
	white-space: nowrap
	text-overflow: ellipsis

=title-font
	font-size: 16pt
	font-weight: bold

=label-font
	text-transform: uppercase
	font-size: 9pt
	font-style: italic

=input-label-font
	font-size: 10pt

=prototype-font
	text-transform: uppercase
	font-family: "Roboto Mono", sans-serif
	font-size: 12pt
	font-style: italic

=prototype-font-big
	+prototype-font
	font-size: 14pt

=badge-font
	display: block
	padding: 2px 5px
	border: $text-border
	font-size: 10pt
	font-weight: bold
	font-style: italic
	line-height: normal

$player-font-size: 10pt
=player-font
	font-size: $player-font-size

$text-font-size: 9pt
=text-font
	font-family: "Roboto Mono", sans-serif
	font-size: $text-font-size

=icon
	width: 20px
	height: 20px

	.outline
		stroke-width: 2.75

=icon-big
	width: 40px
	height: 40px
	
	.outline
		stroke-width: 2

=dark-divider
	&::after
		$padding: 15px
		position: absolute
		left: $padding
		right: $padding
		bottom: 0
		height: 1px
		content: ""
		background-color: rgba(#000000, 0.2)

	&:last-of-type::after
		background: none

::webkit-scrollbar
	display: none

::selection
	color: #000000
	background-color: rgba(#ffffff, 0.9)

*
	box-sizing: border-box
	user-select: none

body
	margin: 0
	opacity: 0
	color: #ffffff
	font-family: "Roboto", sans-serif
	transition: opacity $transition-ease
	-webkit-transition: opacity $transition-ease

	&.active
		opacity: 1

	&.browser
		+checkered
		opacity: 1

main
	width: 100%
	height: 100vh

span,
li,
h1,
h2,
h3,
p
	opacity: 0.9

h1,
h2,
h3
	font-weight: normal
	-webkit-margin-before: 0
	-webkit-margin-after: 0
	-webkit-margin-start: 0
	-webkit-margin-end: 0

input
	+text-font
	border: none
	color: #ffffff

	&[type=number]::-webkit-inner-spin-button,
	&[type=number]::-webkit-outer-spin-button
		-webkit-appearance: none

svg
	vertical-align: middle

	.outline
		stroke: #ffffff
		fill: none

.clear-fix::after
	display: block
	clear: both
	content: ""

.scale-invert
	overflow: hidden
	display: inline-block
	vertical-align: top

.underline
	position: relative

	&::after
		position: absolute
		right: 0
		bottom: -2px
		width: 100%
		height: 0
		content: ""
		border-bottom: $text-border

.badge
	+badge-font

.flash
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	opacity: 0
	box-shadow: inset 0 0 200px rgba(#ffffff, 0.5)

	&-enter:not(&-enter-active)
		opacity: 1

	&-enter-active
		transition: opacity 0.5s $transition-cubic
		-webkit-transition: opacity 0.5s $transition-cubic

.nav-bar
	display: inline-block
	position: relative
	width: 100%
	margin: $section-padding 0 $text-padding
	text-align: center

	.nav
		+label-font
		cursor: pointer
		display: inline-block
		position: relative
		padding: $text-padding - 10 $text-padding $text-padding - 5
		background-color: rgba($background-color, 0.75)
		transition: color $transition-ease, background-color $transition-ease
		-webkit-transition: color $transition-ease, background-color $transition-ease

		&:hover
			background-color: rgba($background-color, 0.75)

		&.current
			z-index: 1
			background-color: $background-color
			
			&:hover
				color: rgba(#ffffff, 0.75)

	.save
		margin-left: $section-padding

@import 'page'