.lobby-card
	&-column
		display: inline-block
		width: auto

		&.extended
			width: $column-width * 2

	&-prototype
		$height: 64px
		height: $height

		.prototype-icon
			display: block
			float: left
			width: $height
			height: $height
			text-align: center
			line-height: $height

			svg
				+icon-big

		.prototype-title
			+prototype-font-big
			display: block
			text-align: center
			line-height: $height

	&-switch
		+prototype-font
		padding: ($text-padding - 5) 0 $text-padding + 5
		cursor: pointer
		text-align: center
		transition: color $transition-ease
		-webkit-transition: color $transition-ease

		&:hover
			color: rgba(#ffffff, 0.5)

.lobby-settings-column
	width: auto

.mod-category
	&-column
		background: $background-color

	&-label
		padding-bottom: $text-padding/2

		&::after
			display: none

.input
	+dark-divider
	$height: 48px
	overflow: hidden
	position: relative
	height: $height
	transition: height $transition-ease, opacity $transition-ease
	-webkit-transition: height $transition-ease, opacity $transition-ease

	&-enter:not(&-enter-active),
	&-exit-active
		height: 0
		opacity: 0
	
	input
		padding-bottom: 4px
		text-indent: $text-padding

	&-label,
	&-value
		display: inline-block

	&-label
		+input-label-font
		float: left
		padding-left: $text-padding
		line-height: $height

	&-value
		float: right
		width: 50%
		height: 100%
		background: rgba(#000000, 0.25)

	&-checkbox-checkbox
		cursor: pointer
		float: right
		width: $height
		text-align: center
		line-height: $height
		transform: rotateX(180deg)
		-webkit-transform: rotateX(180deg)

		&::before
			content: "ヘ"
			opacity: 0.125
			transition: opacity $transition-ease
			-webkit-transition: opacity $transition-ease

		&.true::before
			opacity: 1

	&-time
		.input-label
			width: 65%

		&-input,
		&-display
			width: 35%
			
		&-input,
		&-input::selection
			color: rgba(#ffffff, 0)
			background-color: rgba(#ffffff, 0)

		&-display
			+text-font
			pointer-events: none
			position: absolute
			left: 65%
			padding-left: $text-padding
			line-height: $height