.lobby-card
	&-column
		display: inline-block
		width: auto

	&-prototype
		$height: 64px
		height: $height

		.prototype-icon
			display: block
			float: left
			width: $height
			height: $height
			text-align: center
			line-height: $height

			svg
				+icon-big

		.prototype-title
			+prototype-font-big
			display: block
			text-align: center
			line-height: $height

	&-switch
		+prototype-font
		padding: ($text-padding - 5) 0 $text-padding + 5
		cursor: pointer
		text-align: center
		transition: color $transition-ease
		-webkit-transition: color $transition-ease

		&:hover
			color: rgba(#ffffff, 0.5)